FUNDING.yml
AIVA.code-workspace

/.vscode

/.venv/Scripts
/.venv/share
/.venv/Lib/site-packages/urllib3/
/.venv/Lib/site-packages/yarl/
/.venv/Lib/site-packages/wasabi/
/.venv/Lib/site-packages/wasabi-0.10.1.dist-info
/.venv/Lib/site-packages/urllib3-2.2.3.dist-info
/.venv/Lib/site-packages/yarl-1.11.1.dist-info
/.venv/Lib/site-packages/unidic
/.venv/Lib/site-packages/unidic-1.1.0.dist-info
/.venv/Lib/site-packages/tzdata/zoneinfo
/.venv/Lib/site-packages/tzdata-2024.1.dist-info
/.venv/Lib/site-packages/typing_extensions-4.12.2.dist-info
/.venv/Lib/site-packages/tqdm
/.venv/Lib/site-packages/tqdm-4.66.5.dist-info
/.venv/Lib/site-packages/torchgen
/.venv/Lib/site-packages/tzdata
/.venv/Lib/site-packages/_distutils_hack
/.venv/Lib/site-packages/aiohappyeyeballs-2.4.0.dist-info
/.venv/Lib/site-packages/aiohttp-3.10.5.dist-info
/.venv/Lib/site-packages/aiosignal-1.3.1.dist-info
