FUNDING.yml
AIVA.code-workspace
*.pyc

/.vscode

/.venv/Scripts
/.venv/share
/.venv/Lib/site-packages/urllib3/
/.venv/Lib/site-packages/yarl/
/.venv/Lib/site-packages/wasabi/
/.venv/Lib/site-packages/wasabi-0.10.1.dist-info
/.venv/Lib/site-packages/urllib3-2.2.3.dist-info
/.venv/Lib/site-packages/yarl-1.11.1.dist-info
/.venv/Lib/site-packages/unidic
/.venv/Lib/site-packages/unidic-1.1.0.dist-info
/.venv/Lib/site-packages/tzdata/zoneinfo
/.venv/Lib/site-packages/tzdata-2024.1.dist-info
/.venv/Lib/site-packages/typing_extensions-4.12.2.dist-info
/.venv/Lib/site-packages/tqdm
/.venv/Lib/site-packages/tqdm-4.66.5.dist-info
/.venv/Lib/site-packages/torchgen
/.venv/Lib/site-packages/tzdata
/.venv/Lib/site-packages/_distutils_hack
/.venv/Lib/site-packages/aiohappyeyeballs-2.4.0.dist-info
/.venv/Lib/site-packages/aiohttp-3.10.5.dist-info
/.venv/Lib/site-packages/aiosignal-1.3.1.dist-info
/.venv/Lib/site-packages/aiohappyeyeballs
/.venv/Lib/site-packages/aiohttp
/.venv/Lib/site-packages/aiosignal
/.venv/Lib/site-packages/alkana-0.0.3.dist-info
/.venv/Lib/site-packages/alkana
/.venv/Lib/site-packages/astroid-3.3.3.dist-info
/.venv/Lib/site-packages/astroid
/.venv/Lib/site-packages/attr
/.venv/Lib/site-packages/attrs-24.2.0.dist-info
/.venv/Lib/site-packages/attrs
/.venv/Lib/site-packages/certifi-2024.8.30.dist-info
/.venv/Lib/site-packages/certifi
/.venv/Lib/site-packages/chardet-3.0.4.dist-info
/.venv/Lib/site-packages/chardet
/.venv/Lib/site-packages/charset_normalizer-3.3.2.dist-info
/.venv/Lib/site-packages/charset_normalizer
/.venv/Lib/site-packages/colorama-0.4.6.dist-info
/.venv/Lib/site-packages/colorama
/.venv/Lib/site-packages/config-0.5.1.dist-info
/.venv/Lib/site-packages/config
/.venv/Lib/site-packages/dateutil
/.venv/Lib/site-packages/dill
/.venv/Lib/site-packages/dill-0.3.8.dist-info
/.venv/Lib/site-packages/emoji-2.13.0.dist-info
/.venv/Lib/site-packages/emoji/unicode_codes
/.venv/Lib/site-packages/filelock-3.16.1.dist-info
/.venv/Lib/site-packages/filelock
/.venv/Lib/site-packages/frozenlist-1.4.1.dist-info
/.venv/Lib/site-packages/frozenlist
/.venv/Lib/site-packages/fsspec-2024.9.0.dist-info
/.venv/Lib/site-packages/fsspec
/.venv/Lib/site-packages/emoji
/.venv/Lib/site-packages/functorch
/.venv/Lib/site-packages/googletrans-3.0.0.dist-info
/.venv/Lib/site-packages/googletrans
/.venv/Lib/site-packages/h11-0.9.0.dist-info
/.venv/Lib/site-packages/h11
/.venv/Lib/site-packages/h2-3.2.0.dist-info
/.venv/Lib/site-packages/h2
/.venv/Lib/site-packages/hpack-3.0.0.dist-info
/.venv/Lib/site-packages/hpack
/.venv/Lib/site-packages/hstspreload
/.venv/Lib/site-packages/httpcore-0.9.1.dist-info
/.venv/Lib/site-packages/httpcore/_async
/.venv/Lib/site-packages/hstspreload-2024.9.1.dist-info
/.venv/Lib/site-packages/httpcore/_backends
/.venv/Lib/site-packages/httpcore/_sync
/.venv/Lib/site-packages/httpcore
/.venv/Lib/site-packages/httpx-0.13.3.dist-info
/.venv/Lib/site-packages/httpx
/.venv/Lib/site-packages/hyperframe-5.2.0.dist-info
/.venv/Lib/site-packages/hyperframe
/.venv/Lib/site-packages/idna-2.10.dist-info
/.venv/Lib/site-packages/idna
/.venv/Lib/site-packages/isort-5.13.2.dist-info
/.venv/Lib/site-packages/isort
/.venv/Lib/site-packages/jinja2-3.1.4.dist-info
/.venv/Lib/site-packages/jinja2
/.venv/Lib/site-packages/keyboard-0.13.5.dist-info
/.venv/Lib/site-packages/keyboard
/.venv/Lib/site-packages/MarkupSafe-2.1.5.dist-info
/.venv/Lib/site-packages/markupsafe
/.venv/Lib/site-packages/mccabe-0.7.0.dist-info
/.venv/Lib/site-packages/MeCab
/.venv/Lib/site-packages/mecab_python3-1.0.9.dist-info
/.venv/Lib/site-packages/mpmath-1.3.0.dist-info
/.venv/Lib/site-packages/mpmath/calculus
/.venv/Lib/site-packages/mpmath
/.venv/Lib/site-packages/multidict-6.1.0.dist-info
/.venv/Lib/site-packages/multidict
/.venv/Lib/site-packages/networkx-3.3.dist-info
/.venv/Lib/site-packages/networkx
/.venv/Lib/site-packages/numpy-2.1.1.dist-info
/.venv/Lib/site-packages/numpy.libs
/.venv/Lib/site-packages/numpy
/.venv/Lib/site-packages/openai-0.28.1.dist-info
/.venv/Lib/site-packages/openai
/.venv/Lib/site-packages/pandas-2.2.3.dist-info
/.venv/Lib/site-packages/pandas.libs
/.venv/Lib/site-packages/pandas
/.venv/Lib/site-packages/pip-24.2.dist-info
/.venv/Lib/site-packages/pip
/.venv/Lib/site-packages/pkg_resources
/.venv/Lib/site-packages/plac-1.4.3.dist-info
/.venv/Lib/site-packages/platformdirs-4.3.6.dist-info
/.venv/Lib/site-packages/platformdirs
/.venv/Lib/site-packages/pylint
/.venv/Lib/site-packages/pytz
/.venv/Lib/site-packages/rfc3986-1.5.0.dist-info
/.venv/Lib/site-packages/rfc3986
/.venv/Lib/site-packages/setuptools-75.1.0.dist-info
/.venv/Lib/site-packages/setuptools
/.venv/Lib/site-packages/pytchat
/.venv/Lib/site-packages/requests
/.venv/Lib/site-packages/sniffio-1.3.1.dist-info
/.venv/Lib/site-packages/sympy-1.13.3.dist-info
/.venv/Lib/site-packages/sympy
/.venv/Lib/site-packages/testrun
/.venv/Lib/site-packages/tomlkit-0.13.2.dist-info
/.venv/Lib/site-packages/tomlkit
/.venv/Lib/site-packages/six-1.16.0.dist-info
/.venv/Lib/site-packages/requests-2.32.3.dist-info
/.venv/Lib/site-packages/pytz-2024.2.dist-info
/.venv/Lib/site-packages/python_dateutil-2.9.0.post0.dist-info
/.venv/Lib/site-packages/sniffio
/.venv/Lib/site-packages/pytchat-0.5.5.dist-info
/.venv/Lib/site-packages/pylint-3.3.0.dist-info
/.venv/Lib/site-packages/pyaudio
/.venv/Lib/site-packages/PyAudio-0.2.14.dist-info
